<!--
[ 관리자용 페이지 템플릿 사용 방법]
1. 핵심 콘텐츠 작성법
<div class="container-fluid">
    이 사이에 넣을 핵심콘텐츠에 필요한 타임리프 코드를 작성해주세요
</div>

2. 모든 관리자용 페이지에 반드시 포함시킬 파일: header, head, sidebar, commonJs.html (이 파일들은 수정 시 반드시 팀원들과 협의해주세요)
-->
<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<!--begin::Head-->
<head th:include="/admin/common/head.html :: common_header">
    <title id="page_title">온보딩 메인</title>    <!-- 해당 페이지별 사용할 title 내용 넣기 -->
</head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{/admin/common/header}"></th:block>
    <!-- 헤더 끝 -->

    <!-- 사이드바 시작-->
    <th:block th:replace="~{/admin/common/sidebar}"></th:block>
    <!-- 사이드바 끝-->

    <!-- 메인 콘텐츠 시작 -->
    <main class="app-main">
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <br>
                <!-- begin::Row-->
                <div class="row">
                    <h3>온보딩 메인</h3>
                </div>
                <!-- end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!-- 메인 콘텐츠 끝 -->
    <!-- 푸터 시작 -->
    <th:block th:replace="~{/admin/common/footer}"></th:block>
    <!-- 푸터 끝 -->
</div>
<!--end::App Wrapper-->
<!--스크립트 시작-->
<th:block th:replace="~{/admin/common/commonJs}"></th:block> <!-- 공통 사용 스크립트 불러오기-->
<!-- 각 페이지 별로 필요한 스크립트 작성 혹은 임포트 -->
<!--스크립트 끝-->
</body>
<!--end::Body-->
</html>
