ALLOWED_ORIGINS=http://EC2_PUBLIC_IP
GEMINI_API_KEY=change-me
GROQ_API_KEY=change-me
OPENWEATHER_API_KEY=change-me

OLLAMA_DOC_POSTPROCESS=false
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.1:8b
