SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8081

APP_FRONTEND_ORIGIN=http://EC2_PUBLIC_IP
APP_CORS_ALLOWED_ORIGINS=http://EC2_PUBLIC_IP
AI_SERVER_BASE_URL=http://127.0.0.1:8000

DB_URL=jdbc:postgresql://127.0.0.1:5432/ict06_team1_finalpj
DB_USERNAME=postgres
DB_PASSWORD=change-me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=change-me-to-a-long-random-secret
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=1209600000
