<!--
 * @author : 송영은
 * description : 관리자용 전자결재 - 새 결재선 서식 추가 페이지
 * ========================================
 * DATE         AUTHOR      NOTE
 * 2026-05-04   송영은       최초 생성
-->
<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<!--begin::Head-->
<head th:insert="/admin/common/head.html :: common_header">
    <title id="page_title">새 결재선 서식 생성</title><!-- 해당 페이지별 사용할 title 내용 넣기 -->
</head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{/admin/common/header}"></th:block>
    <!-- 헤더 끝 -->
    <!-- 사이드바 시작-->
    <th:block th:replace="~{/admin/common/sidebar}"></th:block>
    <!-- 사이드바 끝-->
    <!-- 메인 콘텐츠 시작 -->
    <main class="app-main">
        <!--전자결재용 서브 헤더 시작-->
        <th:block th:replace="~{/admin/approval/appFormNav}"></th:block>
        <!--전자결재용 서브 헤더 끝-->
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <br>
                <!-- begin::Row-->
                <div class="row">
                    <h3>새 전자결재선 서식 만들기</h3>
                </div>
                <!-- end::Row-->
                <!-- begin::Row-->
                <div class="row">
                    <!-- 왼쪽: 메인 선택창 시작-->
                    <div class="col-md-6">
                        <form id="appFormEditor">
                            <div class="card p-3">
                                <!--서식 이름 입력 시작-->
                                <div class="mb-4 border-bottom pb-3 text-center">
                                    <input type="text" name="templateName" id="templateName" class="form-control form-control-lg text-center border-0 shadow-none"
                                           placeholder="⭐서식 이름을 입력하세요" required>
                                </div>
                                <!--서식 이름 입력 끝-->
                                <!--참조 대상 메뉴바 시작-->
                                <div class="row align-items-center">
                                    <div class="col-md-auto">
                                        <label class="col-form-label">참조</label>
                                    </div>
                                    <div class="col">
                                        <hr class="w-100 my-0">
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" id="addRefTarget" class="btn btn-secondary btn-sm">+</button>
                                    </div>
                                </div>
                                <!--참조 대상 메뉴바 끝-->
                                <!--참조 대상 동적 리스트 시작-->
                                <div id="refList"></div>
                                <br>
                                <!--참조 대상 동적 리스트 끝-->
                                <!--결재 대상 동적 메뉴바 시작-->
                                <div id="approvalMenubar"></div>
                                <!--결재 대상 메뉴바 끝-->
                                <!--결재 대상 동적 리스트 시작-->
                                <div id="approvalList"></div>
                                <!--결재 대상 동적 리스트 끝-->
                                <!--결재 단계 추가 버튼 시작-->
                                <div class="d-grid w-100">
                                    <button type="button" id="addAppSteps"class="btn btn-outline-primary w-100">
                                        결재 단계 추가
                                    </button>
                                </div>
                                <br>
                                <!--결재 단계 추가 버튼 끝-->
                                <!--결재선 서식 설명 시작-->
                                <!--<div class="row align-items-center">
                                    <div class="col-md-auto">
                                        <label class="col-form-label" for="appLineDesc">설명</label>
                                    </div>
                                    <div class="col">
                                        <hr class="w-100 my-0">
                                    </div>
                                </div>
                                <textarea id="appLineDesc" class="w-100"
                                          placeholder=" 결재선 서식에 대한 설명을 작성해주세요."></textarea>
                                <br>-->
                                <!--결재선 서식 설명 끝-->
                                <!--기본 결재선 설정 여부 시작-->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        기본 결재선으로 설정하기
                                    </label>
                                </div>
                                <!--기본 결재선 설정 여부 끝-->
                                <!-- 버튼 목록 시작 -->
                                <div class="text-end mt-4">
                                    <button type="submit" id="" class="btn btn-primary">서식 저장하기</button> <!--서식 제출 버튼-->
                                    <button type="reset" class="btn btn-secondary">취소</button>
                                    <a th:href="@{/admin/approval/appLineFormList}" class="btn btn-secondary">목록</a>
                                </div>
                                <!-- 버튼 목록 끝 -->
                            </div>
                        </form>
                    </div>
                    <!-- 왼쪽: 메인 선택창 끝-->
                    <!-- 오른쪽: 참조/결재 대상 조회 시작-->
                    <!-- 🔹 참조/결재 대상 검색 offcanvas : 기본 = 가려진 상태 -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="targetSearchPanel" style="width: 40%;">
                        <div class="offcanvas-header">
                            <h5 id="panelTitle"></h5> <!-- 조회 모드 따라 제목 변경-->
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                        </div>

                        <div class="offcanvas-body">
                            <div id="targetSearch" class="row align-items-center">
                                <!-- 참조/결재 대상 유형 선택 시작-->
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="btnradio1">개인</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="btnradio2">부서</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="btnradio3">직급</label>
                                </div>
                                <br>
                                <!-- 참조/결재 대상 유형 선택 끝-->
                                <!-- 참조/결재 대상 검색 바 시작-->
                                <div id="targetList"></div>
                                <!-- <div class="d-flex justify-content-between">
                                    <div class="col-md-11">
                                        <input class="form-control w-100" type="search" placeholder="이름,사번" aria-label="Search"/>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-outline-success w-100 h-100 d-flex justify-content-center align-items-center" type="button">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div> -->
                                <!-- 참조/결재 대상 검색 바 끝-->
                                <!-- 선택 완료 버튼 시작 -->
                                <br>
                                <button id="confirmSelect" class="btn btn-primary">선택 완료</button>
                                <!-- 선택 완료 버튼 끝 -->
                            </div>
                        </div>
                    </div>
                    <!-- 오른쪽: 참조/결재 대상 조회 끝-->
                </div>
                <!-- end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!-- 메인 콘텐츠 끝 -->
    <!-- 푸터 시작 -->
    <th:block th:replace="~{/admin/common/footer}"></th:block>
    <!-- 푸터 끝 -->
</div>
<!--end::App Wrapper-->
<!--스크립트 시작-->
<th:block th:replace="~{/admin/common/commonJs}"></th:block> <!-- 공통 사용 스크립트 불러오기-->

<!-- 각 페이지 별로 필요한 스크립트 작성 혹은 임포트 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- jQuery -->
<script src="/js/approval/appLine/appLineCommon.js"></script> <!-- 결재선 서식 저장&수정 공통 js -->
<script src="/js/approval/appLine/createAppLineForm.js"></script> <!-- 결재선 서식 저장용 js -->

<script>
    // // 참조/결재 대상 조회를 위한 상태 정보 저장
    // const state = {
    //     searchMode: 'ref',   // 조회 모드: ref(참조) | app(결재)
    //     targetType: 'user',  // 대상 유형: user(개인) | dept(부서) | position(직급)
    //     approvalStep: 0,      // 전체 결재 단계 수
    //     currentEditingStep: null  // 현재 수정 중인 결재 단계
    // };

    // // 선택 상태 저장 구조
    // const selectedState = {
    //     ref: new Map(),        // 참조 대상
    //     approval: {}           // 단계별 결재 대상
    // };

    // // 결재 단계별 최소 직급 정보
    // const approvalRules = {
    //     minPositionByStep: {}
    // };

    // // offcanvas 열기 함수 (모드 + 단계 반영)
    // const panel = new bootstrap.Offcanvas(document.getElementById('targetSearchPanel'));
    // let searchMode='ref'; 
    
    // 패널 제목 업데이트 함수
    // function openSearchPanel(mode) {
    //     state.searchMode = mode;

    //     if (mode === 'ref') {
    //         $('#panelTitle').text('참조 대상 선택');
    //     } else {
    //         $('#panelTitle').text(`${state.currentEditingStep}단계 결재 대상 선택`);
    //     }
    //     renderTargetUI();

    //     panel.show();
    // }

    // // 결재 단계 UI 생성 (왼쪽) : 수정, 삭제 기능
    // function addApprovalStepUI(step) {
    //     const html = `
    //         <div class="card p-2 mb-2 approval-step-card"
    //             id="approval_${step}"
    //             data-step="${step}"
    //             onclick="editApprovalStep(${step})">

    //             <div class="d-flex justify-content-between">

    //                 <span class="step-title">${step}단계</span>

    //                 <button type="button"
    //                     class="btn btn-sm btn-danger top-0 end-0"
    //                     onclick="event.stopPropagation(); removeStep(${step})">
    //                     -
    //                 </button>
    //             </div>

    //             <div class="approval-targets"></div>
    //         </div>
    //     `;

    //     $('#approvalList').append(html);
    // }

    // // 참조 대상 추가 버튼 클릭 시 
    // $('#addRefTarget').on('click', function () {
    //     openSearchPanel('ref'); // 참조 대상 조회 모드로 설정
    // });

    // // 결재 단계 추가 버튼 클릭 시 
    // $('#addAppSteps').on('click', function () {
    //     // TODO: max(position_id) -1 이하여야만 함. 백엔드 통신 후 이 값 수정할 것. 
    //     if(state.approvalStep <= 4) {
    //         state.approvalStep++; // 결재 단계 증가
    //         state.currentEditingStep = state.approvalStep; // 현재 수정 중인 결재 단계 업데이트

    //         // 왼쪽 UI에도 단계 추가
    //         addApprovalStepUI(state.approvalStep);

    //         openSearchPanel('app'); // 결재 대상 조회 모드로 설정
    //     }
    //     else{
    //         alert("더 결재 단계를 추가할 수 없습니다."); 
    //     }
    // });

    // // 결재 단계 수정
    // function editApprovalStep(step) {
    //     state.currentEditingStep = step;

    //     openSearchPanel('app');
    // }

    // // 결재 단계 삭제 버튼 클릭 시
    // function removeStep(step) {

    //     // 선택 결재 단계 삭제
    //     delete selectedState.approval[step];

    //     $(`#approval_${step}`).remove();

    //     reorderApprovalSteps(); // 결재 단계 재정렬
    // }

    // // 결재 단계 삭제 후 나머지 결재 단계 순서 재정렬
    // function reorderApprovalSteps() {

    //     const newApproval = {};
    //     const newRules = {};

    //     $('.approval-step-card').each(function(index) {

    //         const newStep = index + 1;

    //         const oldStep = $(this).data('step');

    //         // 카드 id 수정
    //         $(this).attr('id', `approval_${newStep}`);

    //         // data-step 수정
    //         $(this).attr('data-step', newStep);

    //         // 제목 수정
    //         $(this).find('.step-title')
    //             .text(`${newStep}단계`);

    //         // onclick 수정
    //         $(this).attr(
    //             'onclick',
    //             `editApprovalStep(${newStep})`
    //         );

    //         // 데이터 이동
    //         newApproval[newStep] =
    //             selectedState.approval[oldStep] || new Map();

    //         // approvalRules도 이동
    //         newRules[newStep] =
    //             approvalRules.minPositionByStep[oldStep] || 0;
    //     });

    //     selectedState.approval = newApproval;

    //     approvalRules.minPositionByStep = newRules;

    //     state.approvalStep =
    //         Object.keys(newApproval).length;
    // }

    // // 대상 유형 변경 (라디오 버튼)
    // $('input[name="btnradio"]').on('change', function () {
    //     const id = $(this).attr('id');

    //     if (id === 'btnradio1') state.targetType = 'user';
    //     if (id === 'btnradio2') state.targetType = 'dept';
    //     if (id === 'btnradio3') state.targetType = 'position';

    //     renderTargetUI();
    // });

    // // 검색창의 plcaeholder 내용 업데이트 
    // function renderSearchWindow(placeholder){
    //     let html = `
    //         <div class="col-md-11">
    //             <input class="form-control w-100" type="search" placeholder="${placeholder}" aria-label="Search"/>
    //         </div>
    //     `
    //     return html;
    // }

    // // 사원 목록 가져오기
    // function loadEmployees(keyword, page = 0) {
    //     $.get('/admin/approval/targets/employees', {
    //         keyword: keyword,

    //         minPositionId:
    //             state.searchMode === 'app'
    //                 ? getPreviousStepMinPosition()
    //                 : null, // 이전 결재 단계보다 높은 직급의 사원만 조회

    //         page: page,
    //         size: 10
    //     }, function (res) {
    //         renderEmployeeList(res.content); // ⭐ 핵심 변경
    //         renderPagination(res);           // ⭐ 추가
    //     });
    // }

    // // 사원 목록 페이징 처리
    // function renderPagination(res) {

    //     let html = '';

    //     for (let i = 0; i < res.totalPages; i++) {
    //         html += `
    //             <button class="btn btn-sm ${i === res.number ? 'btn-primary' : 'btn-outline-primary'}"
    //                 onclick="loadEmployees($('#targetList input[type=search]').val(), ${i})">
    //                 ${i + 1}
    //             </button>
    //         `;
    //     }

    //     $('#pagination').html(html);
    // }

    // // 부서 목록 가져오기
    // function loadDepartments() {
    //     $.get('/admin/approval/targets/departments', function (data) {
    //         renderDeptList(data);
    //     });
    // }

    // // 직급 목록 가져오기
    // function loadPositions() {
    //     $.get('/admin/approval/targets/positions', function (data) {
    //         renderPositionList(data);
    //     });
    // }

    // // 유형별 UI 렌더링: targetList 내용 다르게 렌더링
    // function renderTargetUI() {
    //     let html = '';

    //     // 검색버튼 구현 html
    //     const searchButtonHtml = `
    //         <div class="col-md-1">
    //             <button id="searchBtn" class="btn btn-outline-success w-100 h-100 d-flex justify-content-center align-items-center" type="button">
    //                 <i class="fa-solid fa-magnifying-glass"></i>
    //             </button>
    //         </div>
    //     `;

    //     // 검색 유형 별 렌더링
    //     if (state.targetType === 'user') {
    //         html = '<div class="d-flex justify-content-between">';
    //         html += renderSearchWindow('사원 이름, 사번'); 
    //         html += searchButtonHtml; 
    //         html += `
    //             </div>
    //                 <div class="mt-3">
    //                     <p>👤 사원 목록</p>
    //                     <div id="employeeList" class="list-group"></div>
    //                     <div id="pagination" class="mt-2"></div> 
    //                 </div>`;
    //     }

    //     if (state.targetType === 'dept') {
    //         html = '<div class="d-flex justify-content-between">';
    //         html += `
    //             </div>
    //                 <div class="mt-3">
    //                     <p>🏢 부서 목록</p>
    //                     <div id="deptList" class="list-group"></div>
    //                 </div>`;
    //     }

    //     if (state.targetType === 'position') {
    //         html = `
    //             <div class="mt-3">
    //                 <p>📌 직급 목록</p>
    //                 <div id="positionList" class="list-group"></div>
    //             </div>`;
    //     }

    //     $('#targetList').html(html);

    //     // ⭐ 렌더링 후 데이터 호출
    //     if (state.targetType === 'user') loadEmployees('');
    //     if (state.targetType === 'dept') loadDepartments();
    //     if (state.targetType === 'position') loadPositions();
    // }

    // // 사원 목록 렌더링
    // function renderEmployeeList(data) {

    //     let html = '';

    //     if (!data || data.length === 0) {
    //         html = `<div class="text-muted">조회 결과 없음</div>`;
    //     } else {

    //         data.forEach(emp => {
    //             // 이전 결재 단계보다 높은 직급의 사원만 결재 가능하게 설정
    //             const minPositionId = getPreviousStepMinPosition(); // 각 결재 단계별 결재 가능 최소 직급 구하기

    //             // 결재 가능 최소 직급보다 낮은 직급의 사원은 제외
    //             // if (state.searchMode === 'app' && emp.positionId <= minPositionId) {
    //             //     return;
    //             // }
                
    //             // 렌더링할 값 가져오기
    //             const id = String(emp.empNo);

    //             const type = 'USER';

    //             const key = `${type}_${id}`;

    //             let isChecked = false;

    //             if (state.searchMode === 'ref') {
    //                 isChecked = selectedState.ref.has(key);
    //             } else {
    //                 const stepMap = selectedState.approval[state.currentEditingStep] || new Map();
    //                 isChecked = stepMap.has(key);
    //             }

    //             html += `
    //                 <label class="list-group-item d-flex align-items-center">
    //                     <input type="checkbox"
    //                         class="form-check-input me-2 target-checkbox"
    //                         value="${id}"

    //                         data-name="${emp.name}"
    //                         data-dept="${emp.deptName}"
    //                         data-position="${emp.positionName}"

    //                         data-position-id="${emp.positionId}"

    //                         data-type="${type}"

    //                         ${isChecked ? 'checked' : ''}>

    //                     ${emp.deptName} / ${emp.positionName}
    //                     / <strong>${emp.name}</strong> (${emp.empNo})
    //                 </label>
    //             `;

    //             console.log(
    //                 emp.name,
    //                 emp.positionName,
    //                 emp.positionId
    //             );
    //         });
    //     }

    //     $('#employeeList').html(html);
    // }

    // // 부서 목록 렌더링
    // function renderDeptList(data) {

    //     let html = '';

    //     if (!data || data.length === 0) {
    //         html = `<div class="text-muted">조회 결과 없음</div>`;
    //     } else {
    //         const selectedDeptIds = getSelectedDeptIdsBeforeCurrentStep();

    //         data.forEach(dept => {

    //             const id = String(dept.id);

    //             const type = 'DEPT';

    //             const key = `${type}_${id}`;

    //             let isChecked = false;

    //             if (state.searchMode === 'ref') {
    //                 isChecked = selectedState.ref.has(key);
    //             } else {
    //                 const stepMap = selectedState.approval[state.currentEditingStep] || new Map();
    //                 isChecked = stepMap.has(key);
    //             }

    //             html += `
    //                 <label class="list-group-item">
    //                     <input type="checkbox"
    //                         class="form-check-input me-2 target-checkbox"
    //                         value="${id}"
    //                         data-name="${dept.name}"
    //                         data-type="${type}"
    //                         ${isChecked ? 'checked' : ''}>
    //                     ${dept.name}
    //                 </label>
    //             `;
    //         });
    //     }

    //     $('#deptList').html(html);
    // }

    // // 직급 목록 렌더링
    // function renderPositionList(data) {

    //     let html = '';

    //     if (!data || data.length === 0) {
    //         html = `<div class="text-muted">조회 결과 없음</div>`;
    //     } else {

    //         data.forEach(pos => {

    //             const minPositionId = getPreviousStepMinPosition(); // 각 결재 단계의 결재 가능 최소 직급 구하기 

    //             if (state.searchMode === 'ref' || pos.id > minPositionId) { // 가장 낮은 직급은 결재자가 될 수 없음. 

    //                 const id = String(pos.id);

    //                 const type = 'POSITION';

    //                 const key = `${type}_${id}`;

    //                 let isChecked = false;

    //                 if (state.searchMode === 'ref') {
    //                     isChecked = selectedState.ref.has(key);
    //                 } else {
    //                     const stepMap = selectedState.approval[state.currentEditingStep] || new Map();
    //                     isChecked = stepMap.has(key);
    //                 }

    //                 html += `
    //                     <label class="list-group-item">
    //                         <input type="checkbox"
    //                             class="form-check-input me-2 target-checkbox"
    //                             value="${id}"
    //                             data-name="${pos.name}"
    //                             data-position-id="${pos.id}"
    //                             data-type="${type}"
    //                             ${isChecked ? 'checked' : ''}>
    //                         ${pos.name}
    //                     </label>
    //                 `;
    //                 console.log(pos.name, pos.id);  
    //             }
    //         });
    //     }

    //     $('#positionList').html(html);
    // }

    // // 결재 단계에 따라 선택 가능 직급 제한
    // function getPreviousStepMinPosition() {

    //     // 참조는 제한 없음
    //     if (state.searchMode === 'ref') {
    //         return 0;
    //     }

    //     // 1단계는 사원 제외만 적용
    //     if (state.currentEditingStep <= 1) {
    //         return 1;
    //     }

    //     return approvalRules.minPositionByStep[
    //         state.currentEditingStep - 1
    //     ] || 1;
    // }

    // // 사원 검색 버튼 클릭 동작
    // $(document).on('click', '#searchBtn', function () {
    //     const keyword = $('#targetList input[type="search"]').val();

    //     if (state.targetType === 'user') {
    //         loadEmployees(keyword);
    //     }
    //     if (state.targetType === 'dept') {
    //         loadDepartments(); // 필요하면 keyword 전달
    //     }
    // });

    // // 사원/부서/권한 다중 선택 -> 상태 저장
    // $(document).on('change', '.target-checkbox', function () {

    //     const id = $(this).val();

    //     const type = state.targetType === 'user' ? 'USER'
    //     : state.targetType === 'dept' ? 'DEPT'
    //     : 'POSITION';

    //     const key = `${type}_${id}`; // 유형별 키 생성 

    //     const data = {
    //         id: id,

    //         name: $(this).data('name'),

    //         dept: $(this).data('dept'),

    //         position: $(this).data('position'),

    //         positionId: Number($(this).data('position-id')),

    //         type: type
    //     };

    //     // 참조 대상 
    //     if (state.searchMode === 'ref') {

    //         if ($(this).is(':checked')) {
    //             selectedState.ref.set(key, data);
    //         } else {
    //             selectedState.ref.delete(key);
    //         }

    //     } 
    //     // 결재 대상
    //     else {

    //         if (!selectedState.approval[state.currentEditingStep]) {
    //             selectedState.approval[state.currentEditingStep] = new Map();
    //         }

    //         const stepMap = selectedState.approval[state.currentEditingStep];

    //         // if ($(this).is(':checked')) {
    //         //     stepMap.set(key, data);
    //         // } else {
    //         //     stepMap.delete(key);
    //         // }
            
    //         // 체크 시 저장
    //         if ($(this).is(':checked')) {

    //             stepMap.set(key, data);

    //             // 사원이나 직급 목록 선택 시 최소 직급 갱신
    //             if (type === 'USER' || type === 'POSITION') {

    //                 const currentMin =
    //                     approvalRules.minPositionByStep[
    //                         state.currentEditingStep
    //                     ] || 0;

    //                 approvalRules.minPositionByStep[
    //                     state.currentEditingStep
    //                 ] = Math.max(
    //                     currentMin,
    //                     data.positionId
    //                 );
    //             }
    //         }
    //         // 체크 해제 시 삭제
    //         else {

    //             stepMap.delete(key);
    //         }

    //         recalculateStepMinPosition(state.currentEditingStep); // 결재 가능 최소 직급 재계산
    //     }
    // });

    // // 결재 가능 최소 직급 재계산
    // function recalculateStepMinPosition(step) {

    //     const stepMap =
    //         selectedState.approval[step];

    //     if (!stepMap || stepMap.size === 0) {

    //         approvalRules.minPositionByStep[step] = 0;
    //         return;
    //     }

    //     let maxPosition = 0;

    //     stepMap.forEach(item => {

    //         if (
    //             (item.type === 'USER' || item.type === 'POSITION')
    //             && item.positionId
    //         ) {
    //             maxPosition = Math.max(
    //                 maxPosition,
    //                 item.positionId
    //             );
    //         }
    //     });

    //     approvalRules.minPositionByStep[step] =
    //         maxPosition;
    // }

    // // 선택 완료 버튼 클릭 시 제출
    // $('#confirmSelect').on('click', function () {

    //     const selected = [];

    //     // 선택된 참조 대상 추가
    //     if (state.searchMode === 'ref') {
    //         $('#refList').empty();

    //         selectedState.ref.forEach(item => {
    //             $('#refList').append(renderBadge(item, 'ref'));
    //         });
    //     } 
    //     // 선택된 결재 대상 추가
    //     else {
    //         const step = state.currentEditingStep;
    //         const stepDiv = $(`#approval_${step} .approval-targets`);

    //         stepDiv.empty();

    //         // const stepMap = selectedState.approval[step] || new Map();
    //         const stepMap = selectedState.approval[state.currentEditingStep] || new Map();

    //         stepMap.forEach(item => {
    //             stepDiv.append(renderBadge(item, 'app', step));
    //         });
    //     }

    //     // 선택 후 패널 가리기
    //     panel.hide();
    // });

    // // badge 렌더링 + 삭제 버튼
    // function renderBadge(item, type, step = null) {
    //     let label = item.name;
        
    //     // 대상 유형= 사용자 -> 부서, 직급, 이름, 사번 모두 출력
    //     if (item.type === 'USER') {
    //         label =
    //             `${item.dept} / ${item.position}
    //             / ${item.name} (${item.id})`;
    //     }

    //     return `
    //         <span class="badge bg-${type === 'ref' ? 'secondary' : 'primary'} me-1">
    //             ${label}
    //             <button type="button" class="btn-close btn-close-white ms-1"
    //                 onclick="removeSelected('${type}', '${item.type}', '${item.id}', '${step}')"></button>
    //         </span>
    //     `;
    // }

    // // 삭제 기능
    // function removeSelected(mode, itemType, id, step) {

    //     const key = `${itemType}_${id}`;

    //     if (mode === 'ref') {

    //         selectedState.ref.delete(key);

    //         $('#refList').empty();

    //         selectedState.ref.forEach(item => {
    //             $('#refList').append(renderBadge(item, 'ref'));
    //         });

    //     } else {

    //         selectedState.approval[step]?.delete(key);

    //         recalculateStepMinPosition(step); // 최소 결재 직급 재계산

    //         const stepDiv = $(`#approval_${step} .approval-targets`);

    //         stepDiv.empty();

    //         selectedState.approval[step]?.forEach(item => {
    //             stepDiv.append(renderBadge(item, 'app', step));
    //         });
    //     }
    // }

    // // 최종 제출: 결재선 서식 추가
    // $('#appFormEditor').on('submit', function (e) {

    //     // 기본 submit 막기 (선택)
    //     e.preventDefault();

    //     // 실제 결재 단계 수 계산
    //     const approvalStepCount =
    //         Object.values(selectedState.approval)
    //             .filter(map => map && map.size > 0)
    //             .length;

    //     // 새 결재선 서식 추가할려면 최소 결재 1단계 이상 필요
    //     if (approvalStepCount === 0) {
    //         alert("최소 1개 이상의 결재 단계를 추가해주세요.");
    //         return;
    //     }

    //     const payload = {
    //         formName: $('#formName').val(),
    //         refTargets: [...selectedState.ref.values()],
    //         approvalSteps: Object.entries(selectedState.approval)
    //             .filter(([_, map]) => map && map.size > 0)
    //             .map(([step, map]) => ({
    //                 step: Number(step),
    //                 targets: [...map.values()]
    //             }))
    //     };

    //     console.log(payload); // 👉 확인용

    //     // 서버 전송
    //     $.ajax({
    //         url: '/admin/approval/createAppLineFormAction',
    //         method: 'POST',
    //         contentType: 'application/json',
    //         data: JSON.stringify(payload),
    //         success: function () {
    //             alert('저장 완료');
    //             window.location.href = '/admin/approval/appLineFormList'; // 결재선 서식 목록 확면으로 이동
    //         },
    //         error: function () {
    //             alert('저장 실패');
    //         }
    //     });
    // });
</script>

<!--스크립트 끝-->
</body>
<!--end::Body-->
</html>
