<!--
[ 관리자용 페이지 템플릿 사용 방법]
1. 핵심 콘텐츠 작성법
<div class="container-fluid">
    이 사이에 넣을 핵심콘텐츠에 필요한 타임리프 코드를 작성해주세요
</div>

2. 모든 관리자용 페이지에 반드시 포함시킬 파일: header, head, sidebar, commonJs.html (이 파일들은 수정 시 반드시 팀원들과 협의해주세요)
-->
<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<!--begin::Head-->
<head th:insert="/admin/common/head.html :: common_header">
    <title id="page_title">새 결재 서식 생성</title>    <!-- 해당 페이지별 사용할 title 내용 넣기 -->
</head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{/admin/common/header}"></th:block>
    <!-- 헤더 끝 -->

    <!-- 사이드바 시작-->
    <th:block th:replace="~{/admin/common/sidebar}"></th:block>
    <!-- 사이드바 끝-->

    <!-- 메인 콘텐츠 시작 -->
    <main class="app-main">
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <br>
                <!-- begin::Row-->
                <div class="row">
                    <h3>새 전자결재 서식 만들기</h3>
                </div>
                <!-- end::Row-->
                <!-- begin::Row-->
                <div class="row">
                    <!-- 왼쪽: 컴포넌트 라이브러리 -->
                    <div class="col-md-3">
                        <div class="card p-3">
                            <h5>필드 추가하기</h5>
                            <button class="btn btn-outline-secondary mb-2 text-start border-0 shadow-none" onclick="addField('text')">
                                <i class="fa-solid fa-t"></i>
                                단일 텍스트
                            </button>
                            <button class="btn btn-outline-secondary mb-2 text-start border-0 shadow-none" onclick="addField('date')">
                                <i class="fa-solid fa-calendar-days"></i>
                                날짜 선택
                            </button>
                            <button class="btn btn-outline-secondary mb-2 text-start border-0 shadow-none" onclick="addField('time')">
                                <i class="fa-solid fa-clock"></i>
                                시간
                            </button>
                            <button class="btn btn-outline-secondary mb-2 text-start border-0 shadow-none" onclick="addField('number')">
                                <i class="fa-solid fa-won-sign"></i>
                                금액
                            </button>
                            <hr>
<!--                            <h6>추천 템플릿</h6>-->
<!--                            <button class="btn btn-sm btn-primary mb-1" onclick="applyTemplate('leave')">연차 신청</button>-->
<!--                            <button class="btn btn-sm btn-primary mb-1" onclick="applyTemplate('early')">조퇴 신청</button>-->
<!--                            <button class="btn btn-sm btn-primary mb-1" onclick="applyTemplate('expense')">지출 결의</button>-->
                        </div>
                    </div>

                    <!-- 오른쪽: 폼 캔버스 (미리보기 및 편집) -->
                    <div class="col-md-9">
                        <form id="formEditor" th:action="@{/admin/forms/save}" method="post">
                            <div class="card p-4">
                                <!-- 기본 정보 (고정) -->
                                <div class="mb-4 border-bottom pb-3 text-center">
                                    <input type="text" name="formTitle" class="form-control form-control-lg text-center" placeholder="서식 제목을 입력하세요 (예: 연차 신청서)">
                                </div>

                                <!-- 동적 필드가 추가될 영역 -->
                                <div id="dynamicFields">
                                    <!-- JS로 필드가 삽입됩니다 -->
                                </div>

                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-success">서식 저장하기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!-- 메인 콘텐츠 끝 -->
    <!-- 푸터 시작 -->
    <th:block th:replace="~{/admin/common/footer}"></th:block>
    <!-- 푸터 끝 -->
</div>
<!--end::App Wrapper-->
<!--스크립트 시작-->
<th:block th:replace="~{/admin/common/commonJs}"></th:block> <!-- 공통 사용 스크립트 불러오기-->

<!-- 각 페이지 별로 필요한 스크립트 작성 혹은 임포트 -->
<script src="/js/approval/createTemplate.js"></script>
<!--스크립트 끝-->
</body>
<!--end::Body-->
</html>
