<!--
 * @author : 송영은
 * description : 관리자용 - 전자결재 서식 관리 메인 페이지 (모든 전자 결재 서식 조회 + 추가/수정/삭제 버튼 제공)
 * ========================================
 * DATE         AUTHOR      NOTE
 * 2026-04-30   송영은       최초 생성
-->
<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<!--begin::Head-->
<head th:insert="/admin/common/head.html :: common_header">
    <title id="page_title">전자 결재 서식 관리 메인</title>    <!-- 해당 페이지별 사용할 title 내용 넣기 -->
</head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{/admin/common/header}"></th:block>
    <!-- 헤더 끝 -->

    <!-- 사이드바 시작-->
    <th:block th:replace="~{/admin/common/sidebar}"></th:block>
    <!-- 사이드바 끝-->

    <!-- 메인 콘텐츠 시작 -->
    <main class="app-main">
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <br>
                <!-- begin::Row-->
                <div class="row">
                    <h3>전자 결재 서식 관리 메인</h3>
                </div>
                <!-- end::Row-->
                <!-- begin::Row-->
                <div class="row">

                </div>
                <!-- end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!-- 메인 콘텐츠 끝 -->
    <!-- 푸터 시작 -->
    <th:block th:replace="~{/admin/common/footer}"></th:block>
    <!-- 푸터 끝 -->
</div>
<!--end::App Wrapper-->
<!--스크립트 시작-->
<th:block th:replace="~{/admin/common/commonJs}"></th:block> <!-- 공통 사용 스크립트 불러오기-->

<!-- 각 페이지 별로 필요한 스크립트 작성 혹은 임포트 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- jQuery -->

<!--스크립트 끝-->
</body>
<!--end::Body-->
</html>
