<!-- 관리자용 페이지에 필요한 공통 footer 파일 (협의 없이 수정 금지!)-->
<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline">Anything you want</div>
    <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>
        Copyright &copy; 2026&nbsp;
<!--        <a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>.-->
        <span>ICT06 Team1 </span>
    </strong>
    All rights reserved.
    <!--end::Copyright-->
</footer>
<!--end::Footer-->